* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: 4rem 1fr 6rem;
    width: 100vw;
    height: 100vh;

    border: 1px solid rgb(0, 0, 0);
}

header {
    background-color: rgb(243, 243, 243);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 400px;
    height: 500px;
    padding: 1rem;
    border: 1px solid #000;
}

.keypad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1/5;
    grid-row: 2/6;
    gap: 1rem;
}

.n1, .n2, .n3, .n4, .n5, .n6, .n7, 
.n8, .n9, .n0, .divi, .mult, 
.sub, .add, .decimal, .equals{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

footer {
    background-color: rgb(211, 211, 211);
}